{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{last_post.title}}</h1>
            <p>{{last_post.mini_text}}</p>
            <p>категория: {{last_post.category}}</p>
            <p>рейтинг: {{last_post.rating}}</p>
            <p>дата публикации: {{last_post.created_date}}</p>
            <figure class="article-image">
                {% if last_post.image %}
                <img src="{{last_post.image.url}}" id="img" width="300">
                {% endif %}
            </figure>
            <p>автор: {{last_post.author}}</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'post_detail' last_post.slug %}" role="button">Подробнее</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->

        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <h2>{{post.title}}</h2>
                <p>{{post.mini_text}}</p>
                <p>категория: {{post.category}}</p>
                <p>рейтинг: {{post.rating}}</p>
                <p>автор: {{post.author}}</p>
                <p>дата публикации: {{last_post.created_date}}</p>
                <p><a class="btn btn-secondary" href="{% url 'post_detail' post.slug %}" role="button"> Подробнее &raquo;</a></p>
            </div>
            {% endfor %}
        </div>


        <hr>

    </div> <!-- /container -->


    {% if user.is_authenticated %}


    <form enctype="multipart/form-data" method="post" action="{% url 'add_post' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label>{{field.label}}</label>
            <div>{{field}}</div>
            {% if field.errors %}
            <p>{{field.errors}}</p>
            {% endif %}
        </div>
        {% endfor %}


        <div><input type="submit" value="Добавить" id="but"></div>
    </form>
    {% endif %}
</main>
{% endblock %}