{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main">
    <br>
    <br>
    <br>
<figure class="article-image">
                    {% if user.avatar_image %}
                        <img src="{{user.avatar_image.url}}" id="img">
                    {% endif %}
                </figure>
    <form enctype="multipart/form-data" action="{% url 'registration' %}" method="post">
    {% csrf_token %}
    {{user_form.as_p}}

    <input type="submit" value="регистрация">
        </form>
</main>
{% endblock %}